body {
  background: -webkit-linear-gradient(
    45deg,
    rgb(235, 237, 237),
    rgb(140, 142, 142)
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(235, 237, 237),
    rgb(140, 142, 142)
  );
  background: linear-gradient(45deg, rgb(235, 237, 237), rgb(140, 142, 142));
}
